*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0; 
    }
    .c{
        border-radius: 10px;
        border: 2px solid black;
        width: 100%;
        max-width: 320px;
        padding: 20px;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
    .display{
        width: 100%;
        height: 50px;
        text-align: right;
        margin-bottom:10px;
        font-size: 25px;
    }
    .c .d-flex{
        flex-wrap: wrap;
        gap: 20px;
    }

    .boton{
        width: 40px;
        height: 50px;
        margin: 4px;
        min-width: 40px;
    }